html {
  background-color: black;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.section {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100vw;
  height: 1000vh;
  color: white
}