@font-face{
  font-family: Sf Pro R;
  src: url(Fonts/SFPRODISPLAYREGULAR.OTF);
}

@font-face{
  font-family: Sf Pro B;
  src: url(Fonts/SFPRODISPLAYBOLD.OTF);
}

@font-face{
  font-family: Sf Pro I;
  src: url(Fonts/SFPRODISPLAYLIGHTITALIC.OTF);
}

html {
  background: url(Images/Background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  scroll-behavior: smooth;
}

*{
  font-family: Sf Pro R;
}

::-webkit-scrollbar{
  width: 0;
}

body{
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.container{
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.logo{
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
  position:relative;
  font-size: 18px;
  text-align: center;
}

.navbart::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #00AFFF;
  transition: 0.5s;
  border-radius: 15px;
}

.navbart:hover::before{
  width: 100%;
}


header{
  position:fixed;
  width: 100vw;
  padding: 0.2rem;
  z-index: 999;
}



.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger{
  margin-right: 10px;
  width: 30px;
}

.navbar .links{
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn{
  cursor: pointer;
  display: none;
}

.action_btn{
  background-color: #00AFFF;
  color: white;
  padding: 0.5rem 1rem;
  border:none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-family: Sf Pro B;
  cursor: pointer;
  transition: 0.15s;
  margin-right: 10px;
}

.action_btn:hover{
  scale: 1.05;
  color: white;
}

.action_btn:active{
  scale: 0.95;
}

.dropdown_menu{
  display: none;
  position:absolute;
  right: 2rem;
  top:60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
  height: 240px;
}

.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn{
  width: 100%;
  display: flex;
  justify-content: center;
}

.first_section_1p{
  text-align: center;
  font-size: 10rem ;
  font-family: Sf Pro B;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.first_section_2p{
  font-size: 3rem;
  margin: 0;
  font-family: Sf Pro I;
  color:#00AFFF;
  padding-left: 10px;
  padding-right: 10px;
}

.first_section_3p {
  font-family: Sf Pro I;
  position: absolute;
  bottom: 0.5rem; /* Adjust the spacing as needed */
  left: 50%;
  transform: translateX(-50%);
}

.first_section_div{
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.second_section_div {
  height: 100vh;
  width: 100vw;
  display: flex; /* Add this line */
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
}










@media(max-width: 992px){
  .navbar .links,
  .navbar .action_btn{
    display: none;
  }

  .navbar .toggle_btn{
    display: block;
  }

  .dropdown_menu{
    display: block;
  }

  .first_section_1p{
    font-size: 6rem ;
    font-family: Sf Pro B;
    text-align: center;
  }

  .first_section_2p{
    font-size: 2rem;
    margin: 0;
    font-family: Sf Pro I;
    color:#00AFFF;
    padding-left: 10px;
    padding-right: 10px;
  }

}

@media(max-width: 576px){
  .dropdown_menu{
    left: 2rem;
    width: unset;
  }

  .first_section_1p{
    text-align: center;
    font-size: 3.5rem ;
    font-family: Sf Pro B;
  }

  .first_section_2p{
    font-size: 1.5rem;
    margin: 0;
    font-family: Sf Pro I;
    color:#00AFFF;
  }
}


/*-----------------------*/

/* About*/

section#about{
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}




.section {
  position: relative; /* Add this line to make .icon-scroll relative to .section */
}

.icon-scroll,
.icon-scroll::before {
  position: absolute; /* Change fixed to absolute */
  margin-bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.icon-scroll {
  width: 40px;
  height: 70px;
  border: 2px solid #fff;
  border-radius: 25px;
  bottom: 2rem;
}

.icon-scroll::before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 15px;
  border-radius: 50%;
  animation: 2s scroll cubic-bezier(0.65, -0.55, 0.25, 1.5) infinite;
}

@keyframes scroll {
  0% {
      opacity: 0;
      transform: translateY(0) scale(0.5);
  }
  10% {
      opacity: 1;
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: translateY(30px) scale(0.5);
  }
}